body {
  margin: 0;
  /*border: 1px solid black;*/
}

/* Header Section */
header {
  display: flex;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

#logo {
  width: 50%;
  display: inline-flex;
  align-items: center;
}

#logo img {
  margin-left: 40px;
}

#myTimes {
  color: mediumaquamarine;
  margin-left: 10px;
}

#menu {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

#menu ul {
  padding: 0 40px;
}

#menu span {
  padding: 10px;
}

#menu a {
  color: black;
}

/* Main Content */
#container {
  position: relative;
 /* border: 1px solid black;*/
  top: 90px;
  display: flex;
  justify-content: space-around;
}

#large,
#medium, 
#small {
  border: 1px solid black;
}

#large {
  width: 630px;
}

#medium {
  width: 300px;
}

#small {
  width: 240px;
}